# 이것은 코멘트
# 파일이름을 넣으면 모든 디렉토리에서 해당 파일 무시
# ignore-file.txt

# /로 끝나면 해당 디렉토리 전체를 무시
#ignore-dir/
Meeting/Material/
Shadow_Create/
cGAN-ShadowRemove/juwan/
cGAN-ShadowRemove/1/
cGAN-ShadowRemove/dilated_patch/
heejin/
CPD09_25/.ipynb_checkpoints/
CPD09_25/model/.ipynb_checkpoints/
CPD09_25_BY_WANI/Learning/
CPD09_25_BY_WANI/ResnetLearning/
CPD09_25_BY_WANI/result/
CPD09_25_BY_WANI/models/
CPD09_25_BY_WANI/.ipynb_checkpoints/
CPD09_25_BY_WANI/__pycache__/

*.pyc
# 와일드카드도 사용가능
#ignore-file*
#*.log

