input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

input[type="text"] {
  height: auto;
  line-height: normal;
  padding: 0.3em 0.3em;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.blank-img {
  display: flex;
  width: 250px;
  height: 250px;
  background-color: #e0e0e0;
}

.upload {
  position: relative;
  top: 50%;
  width: 160px;
  height: 40px;
  background-color: #4472c4;
  border-radius: 10em;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.85rem;
}

.detail label {
  width: 75px;
  margin: 0 auto;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit button {
  width: 250px;
  margin-top: 0.85rem;
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
  padding: 0.5rem 1rem;
  appearance: none;
  cursor: pointer;
}

/* 데스크탑 / 패드에 적용될 스타일*/
@media screen and (min-width: 769px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2.5rem;
  }

  .desk-flex {
    display: flex;
    flex-direction: column;
  }
  .blank-img {
    width: 400px;
    height: 400px;
  }

  .detail-input {
    margin-left: 4rem;
  }

  input[type="text"] {
    width: 200px;
  }
}

/* 모바일에 사용될 스타일 */
@media screen and (max-width: 768px) {
  input[type="text"] {
    width: 160px;
  }

  .upload {
    width: 130px;
    height: 30px;
  }
}
