input[type="text"],
input[type="date"] {
  height: auto;
  line-height: normal;
  padding: 0.3em 0.3em;
  width: 160px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h2 {
  font-size: 24px;
  font-weight: 700;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.85rem;
}

.detail label {
  width: 160px;
  margin: 0 auto;
}

.submit button {
  width: 100%;
  margin-top: 0.85rem;
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
  padding: 0.5rem 1rem;
  appearance: none;
  cursor: pointer;
}

.submit button:hover {
  background-color: #025ce2;
}

/* 데스크탑 / 패드에 적용될 스타일*/
@media screen and (min-width: 769px) {
}

/* 모바일에 사용될 스타일 */
@media screen and (max-width: 768px) {
}
