/* 모바일에 사용될 스타일 */
@media screen and (max-width: 768px) {
    .rwd-table {
        line-height: 1.38;
    }
    .rwd-table td:before {
        display: none;
        text-align: center;
      }
    .rwd-table th, .rwd-table td {
        display: table-cell;
        line-height: 1.38;
    }
    .rwd-table th,.rwd-table td {
        padding: 0.5em !important;
    }
}

.card-index {
    line-height: 1.38;
}

.rwd-table {
    margin: 1em 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.38;
    font-size: 1rem;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    width: 15em;
    display:inline-flex;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
}

.rwd-table th, .rwd-table td {
    text-align: left;
}