
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-home.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">장터게시판</h1>

        <form action="{%url 'search'%}" method="GET">
            제목검색<input type = 'search' name = 'query'>
            <input type ='submit' value="검색">
        </form>

        <br><br>
        
        <!-- Blog Post -->
        {% for img_board in posts %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{img_board.title}}</h2>
            <p class="card-text">{{img_board.description}}</p>
            <a href="{% url 'detail' img_board.id %}">더보기 &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            <a href="{% url 'detail' img_board.id %}">더보기</a>
            <a href="{% url 'delete' img_board.id %}">삭제</a>
            <a href="{% url 'update' img_board.id %}">수정</a>
          </div>
        </div>
        {% endfor %}

{% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page= {{posts.previous_page_number}}">Previous</a>
{% endif %}

<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}
<br><br>

<h5><a href="{% url 'post'%}">글쓰기</a> </h5>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
