{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/categoryDetail.css' %}" />
{% endblock %} {% block content %}
<section class="section">
  <div class="wrapper">
    <div class="img">
      <img src="{{obj.frontView.url}}" alt="image" />
      <img src="{{obj.locationMap.url}}" alt="image" />
    </div>
    <table class="table">
      <tbody>
        <tr class="tr">
          <td class="td" colspan="3">시설물명 (FMS 등록기준)</td>
          <td class="td" colspan="3">{{obj.facilityName}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">시설물번호 (FMS 등록기준)</td>
          <td class="td" colspan="3">{{obj.facilityNo}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">시설물위치 (주소)</td>
          <td class="td" colspan="3">{{obj.address}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">준공일지 (연,월,일)</td>
          <td class="td" colspan="3">{{obj.completionDate}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">대지면적</td>
          <td class="td" colspan="3">{{obj.landArea}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">건축면적</td>
          <td class="td" colspan="3">{{obj.buildingArea}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">건축연면적</td>
          <td class="td" colspan="3">{{obj.totalBuildingArea}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">최고높이</td>
          <td class="td" colspan="3">{{obj.highestHeight}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">용도</td>
          <td class="td" colspan="3">{{obj.usage}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">시설물구조</td>
          <td class="td" colspan="3">{{obj.facilityStructure}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">구조형식</td>
          <td class="td" colspan="3">{{obj.structuralForm}}</td>
        </tr>

        <tr class="tr">
          <td class="td" colspan="3">부대시설</td>
          <td class="td" colspan="3">{{obj.amenities}}</td>
        </tr>

        <tr class="tr">
          <td class="td"><p class="overflow">층별</p></td>
          <td class="td"><p class="overflow">{{obj.floors}}</p></td>
          <td class="td"><p class="overflow">전차안전등급</p></td>
          <td class="td"><p class="overflow">{{obj.grade}}</p></td>
          <td class="td"><p class="overflow">점검결과 안전등급</p></td>
          <td class="td"><p class="overflow">{{obj.testResults}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
