{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/category.css' %}" />
{% endblock %} {% block content %}
<section class="section">
  <div class="input-group">
    <input type="search" placeholder="Search..." />
  </div>
  <article class="card-view">
    {% for category in categorys %}
    <div class="card">
      <img src="{{category.frontView.url}}" alt="image" />
      <div class="container">
        <h4 class="title"><strong>{{category.facilityName}}</strong></h4>
        <div class="button">
          <a href="{% url 'categoryDetail' category.id %}">
            <button type="button" class="btn-detail">세부정보</button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </article>
</section>
{% endblock %}
