{% extends 'base.html' %} 

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/category.css' %}" />
{% endblock %} 

{% block content %}
<section class="section">
  <div class="input-group">
    <input type="search" placeholder="Search...">
  </div>
  <article class="card-view">
    <div class="card">
      <img src="{% static 'image/test007.jpg' %}" alt="image" />
      <div class="container">
        <h4 class="title"><strong>정부춘천지방합동청사</strong></h4>
        <div class="button">        
          <button type="button" class="btn-area" onclick="location.href='/area'">
            넓이
          </button>
          <button type="button" class="btn-flatting" onclick="location.href='/flatting'">
            평탄화
          </button>
          <button type="button" class="btn-primary" onclick="location.href='/categoryDetail'">
            더보기
          </button>
        </div>
      </div>
    </div>

  </article>
</section>
{% endblock %}
