{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/category.css' %}" />
  </head>
  <body></body>
</html>

<section class="section">
  <article class="card-view">
    <div class="card">
      <img src="{% static 'image/test007.jpg' %}" alt="image" />
      <div class="container">
        <h4><strong>카테고리 이름</strong></h4>
        <button type="button" class="btn-primary" onclick="location.href='#'">
          더보기
        </button>
      </div>
    </div>

    <div class="card">
      <img src="{% static 'image/test007.jpg' %}" alt="image" />
      <div class="container">
        <h4><strong>카테고리 이름</strong></h4>
        <button type="button" class="btn-primary" onclick="location.href='#'">
          더보기
        </button>
      </div>
    </div>

    <div class="card">
      <img src="{% static 'image/test007.jpg' %}" alt="image" />
      <div class="container">
        <h4><strong>카테고리 이름</strong></h4>
        <button type="button" class="btn-primary" onclick="location.href='#'">
          더보기
        </button>
      </div>
    </div>

    <div class="card">
      <img src="{% static 'image/test007.jpg' %}" alt="image" />
      <div class="container">
        <h4><strong>카테고리 이름</strong></h4>
        <button type="button" class="btn-primary" onclick="location.href='#'">
          더보기
        </button>
      </div>
    </div>
  </article>
</section>
