{% extends 'base.html'%} {% load static %}
<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/crackDetail.css' %}" />
{% endblock %}
<!--  -->
{% block content %}

<div class="button">
  <a href="{% url 'createCrackObj' crackData.pk %}">
    <button>등록</button>
  </a>
</div>
<section>
  {% for crackObj in crackObj %}
  <article>
    <img class="obj-img" src="{{crackObj.image.url}}" alt="image" />
    {% if crackObj.isFlattened %}
    <img class="obj-img" src="{{crackObj.flatting_image.url}}" alt="image" />
    {% else %}
    <img class="obj-img" src="{% static 'image/noflatten.png' %}" alt="image" />
    {% endif %}
    <!--  -->
    {% if crackObj.isFlattened %}
    <p>🆗</p>
    {% else %}

    <p>❌</p>
    {% endif %}
    <div class="wrapper">
      <p>{{crackObj.date}}</p>
      <button
        class="button"
        onclick="location.href='/flatting/{{crackObj.id}}'"
      >
        평탄화
      </button>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}
<!--  -->
{% block script %}
<!--  -->
{% endblock %}
