{% extends 'base.html' %} 

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/flattingResult.css' %}" />
{% endblock %} 

{% block content %}
<section class="section">
  <canvas id="canvas"></canvas>
  <form action="">
    <div class="length">
      <p>길이 : 0㎜</p>
    </div>
    <button id="button" class="submit" type="submit">저장하기</button>
  </form>
  
 
</section>

{% endblock %}

{% block script %}
<script>
  const canvas = document.getElementById("canvas");
  const ctx = canvas.getContext("2d");
  const button = document.getElementById("button")
  const image = new Image();
  image.src = '{{crack.flatting_image.url}}'
  
  let points = [];
  let length = [];

  image.addEventListener('load', function() {
    const width = image.width;
    const height = image.height;
    canvas.width = width;
    canvas.height = height;
    button.style.width = width + 'px';
    ctx.drawImage(image,0,0,width,height)
  })
</script>
{% endblock %}