{% extends 'base.html'%} 

{% load static %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/newDataForm.css' %}" />
{% endblock %} 

{% block content %} 
<section class="section">
    <h2>세부 정보를 입력해주세요</h2>
    <form action="{% url 'fileUplad' %}" method="post" class="input-wrap">
        {% csrf_token %}
        <div class="detail">
            <label for="name">시설물명</label>
            <input type="text" name="name" />
        </div>

        <div class="detail">
            <label for="number">시설물번호</label>
            <input type="text" name="number" />
        </div>

        <div class="detail">
            <label for="location">시설물위치 (주소)</label>
            <input type="text" name="location" />
        </div>

        <div class="detail">
            <label for="date">준공일지(연,월,일)</label>
            <input type="date" name="date" />
        </div>

        <div class="detail">
            <label for="site-area">대지면적</label>
            <input type="text" name="site-area" />
        </div>

        <div class="detail">
            <label for="building-area">건축면적</label>
            <input type="text" name="building-area" />
        </div>

        <div class="detail">
            <label for="year-area">건축연면적</label>
            <input type="text" name="year-area" />
        </div>
        
        <div class="detail">
            <label for="max-height">최고높이</label>
            <input type="text" name="max-height" />
        </div>

        <div class="detail">
            <label for="use">용도</label>
            <input type="text" name="use" />
        </div>

        <div class="detail">
            <label for="structure">시설물구조</label>
            <input type="text" name="structur" />
        </div>

        <div class="detail">
            <label for="format">구조형식</label>
            <input type="text" name="format" />
        </div>
        
        <div class="detail">
            <label for="facility">부대시설</label>
            <input type="text" name="facility" />
        </div>

        <div class="detail">
            <label for="floor">층별</label>
            <input type="text" name="floor" />
        </div>

        <div class="detail">
            <label for="grade">전차안전등급</label>
            <input type="text" name="grade" />
        </div>

        <div class="detail">
            <label for="result">점검결과</label>
            <input type="text" name="result" />
        </div>

        <div class="detail">
            <label for="plus">규모 및 제원 추가사항</label>
            <input type="text" name="plus" />
        </div>
        
        <div class="submit">
            <button type="submit">등록하기</button>
        </div>
    </form>
</section>

{% endblock %}
