{% extends 'base.html'%} 

{% load static %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/newDataForm.css' %}" />
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %} 
<section class="section">
    <article class="card-index">
        <h1>등록하고자하는 건물에 대한</h1>
        <h1>세부정보를 입력해주세요.</h1>
        <table class="rwd-table">
            <tr>
                <th>시설물명(FMS등록기준)</th>
                <th>시설물번호(FMS등록기준)</th>
                <th>시설물위치(주소)</th>
                <th>준공일지(연,월,일)</th>
                <th>대지면적</th>
                <th>건축면적</th>
                <th>건축연면적</th>
                <th>최고높이</th>
                <th>용도</th>
                <th>시설물구조</th>
                <th>구조형식</th>
                <th>부대시설</th>
                <th>층별</th>
                <th>전차안전등급</th>
                <th>점검결과 안전등급</th>
                <th>규모 및 제원 추가사항</th>
            </tr>
            <tr>
                <form>
                    <td data-th="시설물명(FMS등록기준)" style="text-align: center;"><input type="text"></td>
                    <td data-th="시설물번호(FMS등록기준)" style="text-align: center;"><input type="text"></td>
                    <td data-th="시설물위치(주소)" style="text-align: center;"><input type="text"></td>
                    <td data-th="준공일지(연,월,일)" style="text-align: center;"><input type="date"></td>
                    <td data-th="대지면적" style="text-align: center;"><input type="text"></td>
                    <td data-th="건축면적" style="text-align: center;"><input type="text"></td>
                    <td data-th="건축연면적" style="text-align: center;"><input type="text"></td>
                    <td data-th="최고높이" style="text-align: center;"><input type="text"></td>
                    <td data-th="용도" style="text-align: center;"><input type="text"></td>
                    <td data-th="시설물구조" style="text-align: center;"><input type="text"></td>
                    <td data-th="구조형식" style="text-align: center;"><input type="text"></td>
                    <td data-th="부대시설" style="text-align: center;"><input type="text"></td>
                    <td data-th="층별" style="text-align: center;"><input type="text"></td>
                    <td data-th="전차안전등급" style="text-align: center;"><input type="text"></td>
                    <td data-th="점검결과 안전등급" style="text-align: center;"><input type="text"></td>
                    <td data-th="규모 및 제원 추가사항" style="text-align: center;"><input type="text"></td>
                </form>
            </tr>
        </table>
        <button type="button" class="button-54" onclick="location.href='#'">
            등록하기
        </button>
    </article>
</section>
{% endblock %}